@font-face {
  font-family: 'Segoe UI Custom';
  src: url('./assets/fonts/segoeuithis.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Segoe UI Custom', sans-serif  !important;
}
